<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		 <meta charset="UTF-8">
		 <title>Aviones</title>
	</head>
	<body>
		<table>
		       <thead>
		           <tr>
		               <th>Listado de aviones</th>
		           </tr>
		       </thead>
		       <tbody>
		           <tr th:each="avion : ${aviones}">
		               <td th:text="${avion.idAvion}">Nombre del avion</td>
		              	<td th:text="${avion.nombre}">Nombre del avion</td>
		               	<td th:text="${avion.compania}">Nombre del avion</td>		               
		           </tr>
		       </tbody>
		   </table>
	</body>
</html>
